{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "liquid-html"
      }
    }
  ],
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 240,
  "singleAttributePerLine": false,
  "singleQuote": false,
  "tabWidth": 2,
  "proseWrap": "preserve"
}
